/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.jumbotron{
   background-image: linear-gradient(rgba(41,120,160,0.3), rgba(41,120,160,0.2)), asset_url('jumbotron.jpg');
   background-size: cover;
   background-position: center;
   color: white;
   height: 800px;
} 
.jumbotron h1{
	font-size: 8.5em;
}
.jumbotron h4{
	font-size: 2em;
}

.search{
	color: #5D5858;
	padding: 10px;
	margin-top: 50px;

}
.search input{
	border: 4px solid white;
	padding: 10px;
	border-radius: 10px;
	opacity: 0.5;
	width: 40%;
}
.welcome{
	margin-top: 100px;
}

body{
	background-color: rgba(188, 171, 121, 0.2);
	// background-color: #F0F0F0;
}
.selling{
	height: 600px;
}
.info-img{
	width: 200px;
}
.landing-info-card{
	height: 500px;
	margin-top: 40px;
	
}
.how-to{
	margin-top: 40px;
}
