/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.jumbotron{
   background-image: linear-gradient(rgba(41,120,160,0.3), rgba(41,120,160,0.2)), asset_url('jumbotron.jpg');
   background-size: cover;
   background-position: center;
   color: white;
   height: 800px;
   margin-bottom: -30px;
   box-shadow: 4px 4px 3px black;
} 

.search{
	color: #5D5858;
	padding: 10px;
	margin-top: 100px;

}
.search input{
	border: 4px solid white;
	padding: 10px;
	border-radius: 10px;
	opacity: 0.5;
	width: 40%;
}
.welcome{
	margin-top: 100px;
}

body{
	background-color: rgba(188, 171, 121, 0.2);
}
.selling{
	height: 600px;
}
