<h2>In Your Cart:</h2>
<% @purchases.each do |purchase| %>
  <p>
    <%= purchase.book.title %>
    <%= link_to "Remove from cart", purchase_path(purchase.id), method: :delete,
        data: {confirm: "Remove this from your cart?"} %>
  </p>
<% end %>
