<footer class="footer-distributed">
<div class="row">
  <div class="col-md-4 hidden-xs hidden-sm">
    <ul class="footer-left">
     <%= link_to "Home", root_path %>
      <a href="#">About</a>
      <a href="#">Search</a>
      <a href="#">Privacy</a>
    </ul>

    <h3>BookTrader<span></span></h3>
<!--   <div class="footer-left">
    <p class="footer-company-name">BookTrader Ltd @ 2017</p> -->

    <div class="col-md-4 col-xs-12 footer-icons">
      
        <a href="#"><i class="fa fa-facebook footer-icon"></i></a>
        <a href="#"><i class="fa fa-twitter footer-icon"></i></a>
        <a href="#"><i class="fa fa-linkedin footer-icon"></i></a>
    </div>
  </div>
  <div class="col-md-4 col-md-offset-4">
    <div class="footer-right">
      <p>Contact Us</p>
      <form action= "#" method="post">
        <input type="text" name="email" placeholder="Email">
        <textarea name="message" placeholder="Message"></textarea>
        <button>Send</button>
      </form>
    </div>
  </div>

</div>
</footer>















<!--   <div id="footer">
    <div class="container">
      <div class="row">
        <div class="left-part">

        </div>

        <div class="right-part">
          <ul class="list-inline">
            <li><a href=""><i class="fa fa-instagram"></i></a></li>
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div> -->
<!--       <div class="col-xs-8 text-right">
        <p>BookTrader</p>
      </div>
 -->   <!--  </div> -->
<!--   </div> -->
