<div class="jumbotron">
	<div class="text-center">
		<h1>Welcome to Booktrader</h1>
		<h4>Skip the bookstore.  Get textbooks from students</h4>
	</div>
	<%= form_tag('/books') do -%>
  		<div class="search text-center">
  			<%= text_field_tag :title %>	
  		</div>
  		<div class="btn btn-search">
  			<%= submit_tag 'Search' %>
  		</div>	
	<% end -%>
</div>