.sidebar{
	background-color: #2978A0;
	margin-top: 15px;
	box-shadow: 2px 2px 3px #636363;
	position: fixed;
	right: 1%;

}
.field{
	margin: 10px;
	padding: 3px 0px;
}
.field p{
	color: white;
	font-weight: bold;
}

.filter{
	border-top: 2px solid #BCAB79;
	margin-top: 15px;
	padding-top: 15px;
}
