.sidebar{
	background-color: #2978A0;
	margin-top: 15px;
	@include default-box-shadow;
	position: fixed;
	right: 1%;

}
.field{
	margin: 10px;
	padding: 3px 0px;
}
.field p{
	color: white;
	font-weight: bold;
}

.filter{
	border-top: 2px solid #BCAB79;
	margin-top: 15px;
	padding-top: 15px;
}
.checkout-sidebar{
	color: white;
}
.checkout-sidebar p{
	font-size: 2em;
}
.checkout-sidebar-button{
	width: 100%;
}
