

.list-card{
	height: 650px;
	margin: 20px 0 20px 20px;
	@include default-box-shadow;
	background-color: white;
	padding-left: 0px;
	padding-right: 0px; 
	position: relative;
	overflow: hidden;


}
.list-book-picture{
  height: $list-book-picture-height;
  background-size: cover !important;
  padding-left: 0;
  padding-right: 0; 
}
.book-details{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	margin: 15px 0; 
}
.book-info{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin: 15px; 

}
.book-details ul{
	list-style: none;
}
.title{
	font-weight: bolder;
	font-size: 2.5em;
}
.cover{
	padding: 20px;
}
.other{
	padding: 15px 0px;
}
.avatar-container{
	position: absolute;
	top: calc(#{$list-book-picture-height} - #{$avatar-large-width / 2});
	left: calc(50% - #{$avatar-large-width / 2});
}

.condition p{
	margin-bottom: 0;
	padding: 3px;
}
.university p{
	padding: 3px;
	margin-bottom: 0;
}
.description p{
	padding: 3px;
	margin-bottom: 0;
}
.checkout{
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0px;
}