$list-book-picture-height: 45%; 
$avatar-width: 30px; 
$avatar-large-width: 50px;
$form-margin: 30px;

@mixin box-shadow($vert, $horiz, $blur, $color) {
  -webkit-box-shadow: $vert $horiz $blur $color;
     -moz-box-shadow: $vert $horiz $blur $color;
      -ms-box-shadow: $vert $horiz $blur $color;
          box-shadow: $vert $horiz $blur $color;
} 
@mixin default-box-shadow{
	@include box-shadow(4px, 10px, 20px, #BEBEBE); 

}
h1, h2, h3, h4, p {
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

p{
	font-size: 1.25em;
}
// a{
// 	font-size: 1.25em;
// }
